:root {
  --branding-color: #928eda;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --background-color: #494949;
}
.header-container {
  position: fixed;
  background: #f093be;
  width: 100%;
  top: 0;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  margin-top: 20px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f5a9b8;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  margin-top: 40px;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #eaeaea;
}

.intro p {
  font-size: 30px;
  font-weight: bold;
  color: rgb(250, 158, 104);
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.images {
  width: 90%;
  height: auto;
  padding: 22px 18px;
}
.mary {
  width: 400px;
  height: 600px;
  border-radius: 8px;
}

.logo {
  width: 180px;
  height: 80px;
}

nav {
  padding: 18px 0;
  margin-left: 20px;
}
nav li {
  text-align: center;
  display: inline;
  margin-left: 25px;
}

nav ul {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: rgb(245, 243, 242);
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.project-description {
  padding: 80px;
  margin-top: -98px;
}
footer {
  margin: 60px 0;
}
footer p {
  color: rgb(96, 138, 96);
}
footer .email-link {
  text-decoration: none;
  font-size: 26px;
  color: rgb(247, 122, 220);
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-icons a {
  margin: 0 20px;
  color: rgb(235, 197, 151);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
}

footer .social-icons a:hover {
  transform: scale(1.8);
  background: rgb(238, 109, 131);
  transition: all 100ms ease-in-out;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border: 1px solid var(--branding-color);
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .mary {
    width: 350px;
    height: 500px;
  }

  nav a {
    font-size: 12px;
    margin-right: 0 auto;
  }
}
